{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content %}
<h5 class="card-title"><b>Vuelos</b> <a href="{{ url_for('flights_add') }}" class="btn btn-sm btn-primary text-light"><i class="fa fa-plus-square mr-2 text-light"></i>Nuevo vuelo</a></h5>
  <div class="flights">
  {% for flight in flights %}
  <div class="flight-item">
  <table>
  <tr>
  <td><p><b>Vuelo {{ flight.0 }}, Trayecto {{ flight.4 }}</b></p></td>
  <td><p><b>Aeronave {{ flight.14 }}</b></p></td>
  <tr>
  <tr>
  <td><p>Origen</p><h3>Aeropuerto {{ flight.6 }} ({{ flight.5 }})</h3><p>{{ flight.7 }}, {{ flight.8 }}</p></td>
  <td><p>Destino</p><h3>Aeropuerto {{ flight.10 }} ({{ flight.9 }})</h3><p>{{ flight.11 }}, {{ flight.12 }}</p></td>
  <tr>
  <tr>
  <td><p>Fecha</p><h3>Hoy</h3></td>
  <td><p>Hora</p><h3>{{ flight.15 }}</td>
  <tr>
  <tr>
  <td><p><b>Piloto:</b> </p><h3>{{ flight.1 }} {{ flight.2 }}</h3></td>
  <td><p><b>Estado:</b></p><h3>{{ flight.13 }}</h3></td>
  <tr>
  </table>
  <div class="actions">
    <a href="#" class="btn btn-sm btn-secondary text-light">Editar</a>
    <a href="#" class="btn btn-sm btn-secondary text-light">Eliminar</a>
  </div>
  <hr/>
  </div> 
  {% endfor %}
  </div>

{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='directives/admin_users.js') }}" type="text/javascript"></script>
{% endblock %}