{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<h5 class="card-title"><b>Title</b></h5>
<h6 class="card-subtitle my-2 text-muted">Subtitle</h6>
<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<a href="#" class="card-link">Card link</a>
<a href="#" class="card-link">Another link</a>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}