<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}" type="text/css">
  {% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
  <title>{% block title %}{% endblock %} - MyFlight</title>
  {% endblock %}
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar18">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar18"> <a class="navbar-brand d-none d-md-block" href="#">
          <img src="{{ url_for('static', filename='logo.svg') }}" class="d-inline-block align-top" alt="" height="70"></a>
        <ul class="navbar-nav">
          {% block navbar_menu %}
          <li class="nav-item"> <a class="nav-link" href="#">Log in</a> </li>
          <li class="nav-item"> <a class="nav-link text-white" href="#">Register</a> </li>
          {% endblock %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="">
          <ul class="list-group list-group-flush">
            {% block menu %}
            <li class="list-group-item active"><a href="{{ url_for('admin_dashboard') }}"><i class="fa mr-2 fa-tachometer text-secondary"></i>Dashboard</a></li>
            <li class="list-group-item"><a href="{{ url_for('flights_add') }}"><i class="fa mr-2 fa-suitcase text-secondary"></i>Vuelos</a></li>
            <li class="list-group-item"><a href="{{ url_for('planes_add') }}"><i class="fa mr-2 fa-plane text-secondary"></i>&nbsp;Aeronaves</a></li>
            <li class="list-group-item"><a href="{{ url_for('routes_add') }}"><i class="fa mr-2 fa-arrow-right text-secondary"></i>&nbsp;Rutas</a></li>
            <li class="list-group-item"><a href="{{ url_for('locations_add') }}"><i class="fa mr-2 fa-map-marker text-secondary"></i>&nbsp;Destinos</a></li>
            <li class="list-group-item"><a href="{{ url_for('users_list') }}"><i class="fa mr-2 fa-users text-secondary"></i><span style="font-size: 1rem;">Usuarios</span></a></li>
            <li class="list-group-item"><a href="{{ url_for('pilots_add') }}"><i class="fa fa-paper-plane mr-2 text-secondary"></i><span style="font-size: 1rem;">Pilotos</span></a></li>
            <li class="list-group-item"><a href="{{ url_for('logout') }}"><i class="fa fa-power-off mr-2 text-secondary"></i><span style="font-size: 1rem;">Salir</span></a></li>

            {% endblock %}
          </ul>
        </div>
        <div class="col-md-9" style="">
          <div class="card">
            <div class="card-body border border-primary rounded">
              {% block content %}{% endblock %}              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="footer">
        {% block footer %}
        <div class="col">
          &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        </div>        
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
  </script>
  {% block scripts %}
  {% endblock %}
</body>


</html>