{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content %}
<h5 class="card-title"><b>Editar destino</b></h5>
{% if error_message: %}
<div class="alert alert-danger" role="alert">
  <p>Se encontraron los siguientes errores:</p>
  {{ error_message }}
</div>
{% endif %}
<form class="" method="POST" action="{{ url_for('locations_edit', location_id=location_id) }}" autocomplete="off" novalidate>
  {{form.csrf_token }}
  <div class="form-group">
     {{form.nombreaeropuerto.label}} 
     {{form.nombreaeropuerto}} 
    </div>
    <ul>
{%for error in form.nombreaeropuerto.errors %}
    <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
<div class="form-group">
     {{form.siglaaeropuerto.label}} 
     {{form.siglaaeropuerto}} 
    </div>
    <ul>
{%for error in form.siglaaeropuerto.errors %}
    <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
  <div class="form-group">
     {{form.pais.label}} 
     {{form.pais}} 
    </div>
    <ul>
{%for error in form.pais.errors %}
    <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
<div class="form-group">
  {{form.departamento.label}} 
  {{form.departamento}} 
 </div>
 <ul>
{%for error in form.departamento.errors %}
 <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
<div class="form-group">
  {{form.ciudad.label}} 
  {{form.ciudad}} 
 </div>
 <ul>
{%for error in form.ciudad.errors %}
 <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>

<button type="submit" class="btn btn-lg btn-primary text-light">Enviar</button>
<button class="btn btn-lg btn-primary text-light">Cancelar</button>
</form>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}