{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content %}
<h5 class="card-title"><b>Añadir destino</b></h5>
<form class="" method="POST" action="{{ url_for('flights_add') }}" autocomplete="off" novalidate>
  {{form.csrf_token }}
  <div class="form-group">
     {{form.pais.label}} 
     {{form.pais}} 
    </div>
    <ul>
{%for error in form.pais.errors %}
    <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
<div class="form-group">
  {{form.departamento.label}} 
  {{form.departamento}} 
 </div>
 <ul>
{%for error in form.departamento.errors %}
 <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>
<div class="form-group">
  {{form.ciudad.label}} 
  {{form.ciudad}} 
 </div>
 <ul>
{%for error in form.ciudad.errors %}
 <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>

<button type="submit" class="btn btn-lg btn-primary text-light">Enviar</button>
<button class="btn btn-lg btn-primary text-light">Cancelar</button>
</form>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}