{% extends "layout_auth.html" %}
{% block title %}Iniciar sesión{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row"> 
<div class="col-md-4" style=""><img class="img-fluid d-block" src="{{ url_for('static', filename='logo.svg') }}"></div>
<div class="col-md-8" style="">
<h1 class="">Mi cuenta</h1>
<form class="" method="POST" action="{{ url_for('login') }}" autocomplete="off" novalidate>
  {{form.csrf_token }}
  <div class="form-group"> 
    {{form.username.label}}  
    {{form.username}} 
  </div>
  <ul>
    {%for error in form.username.errors %}
        <li style="color:red"> {{error}} </li>
    {%endfor %}
    </ul>
  <div class="form-group"> 
    {{form.password.label}} 
    {{form.password}} 
  </div> 
  <ul>
    {%for error in form.password.errors %}
        <li style="color:red"> {{error}} </li>
    {%endfor %}
</ul>
  <button type="submit" class="btn btn-lg btn-primary text-light">Submit</button>
  <a href="{{ url_for('register') }}">Registrarse</a>
</form>
</div>
</div>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}