{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content %}
<h5 class="card-title"><b>Editar usuario</b></h5>
<form class="" method="POST" action="{{ url_for('users_edit', user_id=user_id) }}" autocomplete="off" novalidate>
  {{form.csrf_token }}
  <div class="form-group">
  {{form.username.label}} 
  {{form.username}} 
 </div>
 <ul>
{%for error in form.username.errors %}
 <li style="color:red"> {{error}} </li>
{%endfor %}
</ul>

<button type="submit" class="btn btn-lg btn-primary text-light">Enviar</button>
<button class="btn btn-lg btn-primary text-light">Cancelar</button>
</form>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}