{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block menu %}
  {{ super() }}
{% endblock %}
{% block navbar_menu %}{% endblock %}
{% block content %}
<h5 class="card-title"><b>Usuarios</b> <a href="{{ url_for('users_add') }}" class="btn btn-sm btn-primary text-light"><i class="fa fa-plus-square mr-2 text-light"></i>Nuevo usuario</a></h5>
<table class="table">
  <tr>
    <th>Id</th>
    <th>Nombre de usuario</th>
    <th>Roles</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.0 }}</td>
    <td>{{ user.1 }}</td>
    <td>{{ user.2 }}</td>
    <td>
      <a href="{{ url_for('users_edit', user_id=user.0) }}"><i class="fa fa-pencil-square-o mr-2 text-secondary"></i></a>
      <a href="#" class="delete_user" data-user="{{ user.0 }}"><i class="fa fa-trash-o mr-2 text-secondary"></i></a>
    </td>
  </tr>  
  {% endfor %}
</table>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
{% block scripts %}
  <script src="{{ url_for('static', filename='directives/admin_users.js') }}" type="text/javascript"></script>
{% endblock %}